html
    head
        title= page.title
        meta(charset='UTF8')
        link(rel='stylesheet' type='text/css' href='/css/style.css')
        block vars
            - var bodyClass = 'Centered'
    body(class=bodyClass)
        .wrapper
            if error && error !=''
                .error= error
            .content
                block content