html
    head
        title= page.title
        meta(charset='UTF8')
        link(rel='stylesheet' type='text/css' href='/css/style.css')
        block vars
            - var bodyClass = 'Centered'
    body(class=bodyClass)
        .wrapper
            if error && error !=''
                .error= error
            .content
                block content
            
//        block scripts
            script(src='js/jquery.min.js')
            script(src='js/underscore-min.js')
            script(src='js/backbone-min.js')

            script(src='js/application.js')