extends layouts/standard.pug

append content
    .filters
        form(onsubmit='return search()')
            if stag
                input#tags(type='text' value=stag)
            else
                input#tags(type='text')
            input(type='submit' value='Search')
    .grid
    .clear


append scripts
    script(src='js/images.js')