html
    head
        title= title

    body
        h1= message

        form(action="/add" method="POST" enctype="multipart/form-data")
            input(id="image" name="image" type="file")
            input(type="submit")


        script(src='js/jquery.min.js')
        script(src='js/underscore-min.js')
        script(src='js/backbone-min.js')



        script.
            var imageArray = !{imageArray};

        script(src='js/application.js')