extends layouts/centered.pug

append vars
    - var bodyClass = 'SomethingWentTerriblyWrong'

append content
    h1 500 Internal Server Error 
    iframe(width="560" height="315" src="https://www.youtube.com/embed/t3otBjVZzT0?rel=0&controls=0&showinfo=0&autoplay=1" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen)